.fa-male {
    font-size: 4em;
    margin-right: 10px;
}

input[type="button"] {
	background-color: #EF4D50;
	color: white;
	margin: 5px 0 15px;
	border-radius: 5px;
	font-size: 1.5em;
	height: 40px;
}